<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
<<<<<<< HEAD
    <%= link_to "Big Brother", root_path, id: "logo" %>
=======
    <%= link_to "BigBrother", root_path, id: "logo" %>
>>>>>>> 1c780629c04a3abffaf8552812561386773c3ea1
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign up", '/signup' %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
